{% extends 'base.html.twig' %}

{% block head %}
<meta charset="UTF-8">

{% endblock %}
{% block body %}
 	<h1>Blog</h1>
 	
 	{% for post in posts %}
 	
  	<div>
  		<h2><a href='{{ path('post_show', {'id': post.id}) }}'>{{ post.title }}</a></h2>
  		<p>{{ post.lead }}</p>
	</div>
	{% endfor %}
	
		<div class="navigation">
			{{ knp_pagination_render(posts) }}
		</div>
{% endblock %}


